/* General body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 20px;
    color: #333;
    background-image: url('bg.png');
    background-size: cover;
}

/* Header styles */
h1 {
    text-align: center;
    color: #050505;
    margin-bottom: 20px;
}
/* Form and container styles */
#quiz-form {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
}

#login-form {
    background: #ffffff;
    border-radius: 8px;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
}

/* Step styles */
.step {
    display: none;
    margin-bottom: 20px;
}

.step.active {
    display: block;
}

/* Question styles */
.step p {
    font-size: 18px;
    margin-bottom: 10px;
}

/* Radio button styles */
.step label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
}

.step input[type="radio"] {
    margin-right: 10px;
}

/* Navigation buttons styles */
.navigation-buttons {
    text-align: center;
    margin-top: 20px;
}

.navigation-buttons button {
    background-color: #f20139;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 0 5px;
    transition: background-color 0.3s ease;
}

.navigation-buttons button:hover {
    background-color: #f20139;
}

/* Result styles */
#result {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    color: #333;
}

.login-container {
    background: #fff;
    padding: 20px 30px 20px 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
}
.login-container h2 {
    margin-bottom: 20px;
}
.login-container label {
    display: block;
    margin-bottom: 8px;
}
.login-container input {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.login-container button {
    background-color: #f20139;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
.login-container button:hover {
    background-color: #f20139;
}
.error {
    color: red;
    font-size: 14px;
}
.notes {
    font-size: 14px;
    font-weight: 500;
    max-width: 630px;
    text-align: center;
    color: black;
    margin: 20px auto 0 auto;
    line-height: 1.4;
}
.hidden { display: none; }
#seeyou {
    text-align: center;
    color: #6164ba;
}